<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Telegram Form</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app">
    <br>
    <label for="type">Тип телеграми:</label>

    <select id="type" v-model="telegramType">
      <option value="hydro">Гідротелеграми</option>
      <option value="meteo">Метеотелеграми</option>
    </select>
    <br>
    <br>
    <label for="station">Станція:</label>

    <select id="station" v-model="station">
      <option v-for="station in stations" :value="station.index">{{station.index}} - {{station.name}}</option>
    </select>
    <input type="text" v-model="station" placeholder="Або введіть index станції">
        <br>
     <br>
    <label for="message-count">Кількість повідомлень:</label>
    <input type="text" id="message-count" v-model="messageCount">
    <br>
    <br>
    <label for="start-date">Дата початку:</label>
    <input type="date" id="start-date" v-model="startDate">
    <br>
        <br>
    <label for="end-date">Дата кінця:</label>
    <input type="date" id="end-date" v-model="endDate">
    <br>
        <br>
    <label for="time">Час:</label>
    <select id="time" v-model="time">
         <template v-if="telegramType === 'hydro'">
          <option value="08:00:00">08:00:00</option>
        </template>
        <template v-else>
          <option value="00:00:00">00:00:00</option>
          <option value="03:00:00">03:00:00</option>
          <option value="06:00:00">06:00:00</option>
          <option value="09:00:00">09:00:00</option>
          <option value="12:00:00">12:00:00</option>
          <option value="15:00:00">15:00:00</option>
          <option value="18:00:00">18:00:00</option>
          <option value="21:00:00">21:00:00</option>
        </template>
<!--      <option v-for="time in times" :value="time">{{time}}</option>-->
    </select>
        <br>
        <br>
    <button @click="submitForm">Надіслати</button>
  </div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          telegramType: 'hydro',
          station: '',
          stations: [
            { index: '42130', name: 'Сірет-Сторожинець' },
            { index: '42148', name: 'Прут-Чернівці' },
            { index: '42140', name: 'Прут-Коломия' },
            { index: '42198', name: 'Чорний Черемош - Верховина' },
          ],
          messageCount: '',
          startDate: '',
          endDate: '',
          time: '08.00.00',
          times: ['00.00.00', '03.00.00', '06.00.00', '09.00.00', '12.00.00', '15.00.00', '18.00.00', '21.00.00']
            }
      },
      methods: {
        submitForm() {
          const data = {
            station: this.station,
            message_count: this.messageCount,
            start_date: this.startDate,
            end_date: this.endDate,
            time: this.time

          }
          console.log(data);
        }
      }
    });
    app.mount('#app');
  </script>
</body>
</html>
